<div class="row">
  <div class="col-md-4 offset-4">
    <%= form_with(model: @article, local: true) do |f| %>
      <ul>
        <% @article.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      <%= f.text_field :title, autofocus: true, placeholder: 'Give your article a nice title', class: 'mb-1 form-control' %>

      <%= f.text_area :text, placeholder: 'Write your article here', size: '10x15', class: 'my-4 form-control' %>

      <%= f.collection_select :category_id, Category.order(:name), :id, :name, include_blank: 'select a category' %><br /><br />

      <% if @article.image.attached? %>
        <%= image_tag @article.image.variant(resize_to_limit: [100, 100]) %>
        <%= f.label :image, 'Change this image?' %>
      <% else %>
        <%= f.label :image, 'Add a suitable image for your article.' %>
      <% end %>
      <%= f.file_field :image %>

      <%= f.submit 'Submit', class: 'mt-2 btn btn-primary' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>