<%= form_with(model: @user, local: true) do |f| %>
  <%= check_error(@user) %>
  <div class="new-user-form">
    <div class="new-user-input">
      <%= f.text_field :name, autofocus: true, class: 'new-user-username', placeholder: 'Enter a unique username' %>
    </div>
    <div class="new-user-btn">
      <%= f.submit 'Register', class: 'btn btn-submit' %>
      <%= link_to 'Cancel', :back, class: 'btn btn-cancel' %>
    </div>
  </div>      
<% end %>

<div class="new-user-information">
  <h3>Registger Now</h3>
  <p>Become a member of Article Tree</p>
  <p>Enter a unique username and start writing the articles.</p>
  <p>You can still read all articles without registering.</p>
</div>
