<div class="featured_article" style="background-image: url(<%= (url_for(@featured_article.image)) %>")>
  <div class="info">
    <div class="feat-title">
      <%= link_to @featured_article.title, article_path(@featured_article) %>
    </div>
    <div class="feat-text">
      <%= @featured_article.text.truncate(300) %>
    </div>
  </div>
</div>

<div class="categories">
  <% @categories.each do |cat| %>
    <div class="single-category" style="background-image: url(<%= background_check(cat) %>)">
      <div class="title-category"><%=link_to cat.name, category_path(cat) %></div>
      <%= home_title_check(cat) %>
    </div>
  <% end %>
</div>