<div class="show-container">
  <% @articles.each do |art| %>
    <div class="show-article">
      <div class="show-article-image"style="background-image: url(<%= (url_for(art.image.variant(resize_to_fit: [490, nil]))) %>")></div>
      <div class="show-article-description">
        <div class="show-category-name">
          <%= art.categories.first.name %>
        </div>
        <div class="show-article-title">
          <%= link_to art.title, article_path(art) %>
        </div>
        <div class="show-article-text">
        <%= art.text.truncate(250) %>
        </div>
        <div class="article-vote">
          <div class="show-article-author">
            written by <strong><%= art.author.name %></strong>
          </div>
          <div class="show-article-vote">
            <% vote = Vote.find_by(article: art, user: current_user) %>
            <% if vote %>
              <%= link_to article_vote_path(art.id, id: vote.id), method: :delete do %>
                <span><i class="fas fa-thumbs-down"></i></span>
              <% end %>
            <% else %>
              <%= link_to article_votes_path(art), method: :post do %>
                <span><i class="fas fa-thumbs-up"></i></span>
              <% end %>
            <% end %>
            <%= pluralize(art.votes.count, 'vote') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>