<nav class="navbar">
  <div class="nav-left">
    <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo-new.png', class: 'nav-logo'%>
    <% end %>
    </div>
    <% if logged_in? %>
      <%= link_to 'Write an Article', new_article_path %>
    <% end %>
  </div>

  <div class="nav-center">
    <%= link_to 'home', root_path %>
    <% categ = Category.ordered_priority.limit(5) %>
    <% categ.each do |cat| %>
      <%= link_to cat.name, category_path(cat) %>
    <% end %>
    <%= link_to 'all categories', categories_path %>
  </div>

  <div class="nav-right">
    <% if logged_in? %>
      <%= link_to current_user.name, user_path(current_user) %> |
      <%= link_to "log out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Log in", login_path %> |
      <%= link_to "Register", signup_path %>
    <% end %>
  </div>
</nav>